*{
    padding: 0;
    margin: 0;
}

body{
  font-family: "SN Pro", sans-serif;
  background-image: url("school.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
nav{
    background-color: rgba(157, 50, 233, 0.378);
    backdrop-filter: blur(10px);
    color: rgb(9, 1, 1);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-opt{
    display: flex;
}

ul li{
    margin-left: 20px;
    list-style: none;
}

ul li a{
    color: rgb(14, 1, 1);
    text-decoration: none;
    transform: 0.3s;
}

ul li a:hover{
    color: rgba(238, 108, 69, 0.86);
}

.container{
    min-height: 100vh;
    display: flex;
    flex-wrap: center;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container::before{
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.244);
}
.card{
    color: rgb(14, 5, 5);
    background-color: rgba(255, 251, 251, 0.345);
    backdrop-filter: blure(10px);
    border: 1px solid rgba(247, 247, 247, 0.271);
    padding: 40px;
    width: 700px;
    text-align: center;
    border-radius: 1rem;
}
   

.card h1{
    font-size: 40px;
    padding: 20px;
}

.card p{
    font: 18px;
    line-height: 1.8rem;
}

.icon{
    font-size: 1.5rem;
    display: none !important;

}
@media (max-width: 800px){
    .card{
        width: 300px;
    }
}

@media (max-width: 466px)
{
    .card{width: 200px;
    padding: 45px;
    }
}

@media (max-width : 636px){
    nav ul {
        display: none !important;
    }
    .icon{
        display: flex !important;
    }
}

@media (max-width : 367px){
    nav h2{
        font-size: 1.3rem;
    }
}

footer{
    color: white;
    text-align: center;
    padding: 28px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.199);
}

.offers-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card2{
    width:40%;
    padding: 1.rem;
    margin: 2rem;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.249);
    transition: 0.2s;
   
}

.card2:hover{
    transform: scale(1.02);
    border: 1px solid aqua;
}

.card2-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
